# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# PONTO FACIL - WEB - OLD JAVASCRIPT
# dependencies
/ponto-facil/node_modules
/ponto-facil/.pnp
/ponto-facil/.pnp.js

/backend-mocado/node_modules
/backend-mocado/.pnp
/backend-mocado/.pnp.js

# testing
/ponto-facil/coverage

# production
/ponto-facil/build

# misc
/ponto-facil/.DS_Store
/ponto-facil/.env.local
/ponto-facil/.env.development.local
/ponto-facil/.env.test.local
/ponto-facil/.env.production.local

/ponto-facil/npm-debug.log*
/ponto-facil/yarn-debug.log*
/ponto-facil/yarn-error.log*

# PONTO FACIL - WEB - NEW TYPESCRIPT
# dependencies
/tsx-ponto-facil/node_modules
/tsx-ponto-facil/.pnp
/tsx-ponto-facil/.pnp.js

# testing
/tsx-ponto-facil/coverage

# production
/tsx-ponto-facil/build

# misc
/tsx-ponto-facil/.DS_Store
/tsx-ponto-facil/.env.local
/tsx-ponto-facil/.env.development.local
/tsx-ponto-facil/.env.test.local
/tsx-ponto-facil/.env.production.local

/tsx-ponto-facil/npm-debug.log*
/tsx-ponto-facil/yarn-debug.log*
/tsx-ponto-facil/yarn-error.log*

/node_modules

# PONTO FACIL - API - OLD MONOLITO
/PontoFacil.Api/bin
/PontoFacil.Api/obj
/PontoFacil.Api/secret.txt

# PONTO FACIL - API - NEW DDD
/DDD.Api/bin
/DDD.Api/obj
/DDD.Api/secret.txt

/MariaDB

/.vscode
/analise/modelo_de_dominio/acessos_x_ambiente*