.App {

  --cor-primaria: #155270;
  --cor-secundaria: white;
  --cor-auxiliar-1: #00778E;
  --cor-auxiliar-2: #009D99;
  --cor-auxiliar-3: #3DC191;
  --cor-auxiliar-4: #9AE07E;
  --cor-auxiliar-5: #F9F871;
  min-height: 100%;
}