.inputDiv {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 20px 0;
}

.inputDiv label {
    margin-bottom: 10px;
    font-size: 18px;
}

.inputDiv input {
    padding: 10px;
    height: 45px;
    border: none;
    border-radius: 5px;
}