.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px 30px;
    width: 20%;

    background-color: rgb(9, 48, 68);
    color: #fff;
}

@media only screen and (max-width: 1400px) {
    .Card {
        width: 30%;
        margin: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .Card {
        width: 100%;
        margin: 20px;
    }
}