/* Layout em Grid */

.tp-page {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) calc(100vw - var(--aside-width));
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);

    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #f5f5f5;
}

aside.logo {
    grid-area: logo;
}

header.header {
    grid-area: header;
}

aside.menu-area {
    grid-area: menu;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}

@media(max-width: 768px) {
    .tp-page {
        grid-template-rows: 
            var(--header-height)
            var(--menu-top-height)
            1fr
            var(--footer-height);

        grid-template-columns: var(--aside-width) calc(100vw - var(--aside-width));
        grid-template-areas: 
            "logo header"
            "menu menu"
            "content content"
            "footer footer";
    }
}

@media(max-width: 576px) {
    .tp-page {
        grid-template-rows: 
            var(--logo-height)
            auto
            1fr
            var(--footer-height);
        grid-template-columns: 100vw;
        grid-template-areas: 
            "logo"
            "menu"
            "content"
            "footer";
    }
}