.Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 4px 4px #ccc;
    width: 250px;
    height: 100%;

    grid-area: logo;
}

.Logo p {
    margin: 0 20px;
    font-size: 28px;
    font-weight: bold;
}