.List {
    margin: 50px 0;
    border-radius: 5px;
    width: 100%;
    border: none;
    overflow: hidden;
}

.List .ListHead {
    text-align: left;
    background-color: rgb(21, 82, 112);
    color: white;
}

.List .ListHead tr th {
    font-size: 18px;
}

.List .ListHead tr th, .List .ListBody tr td {
    padding: 10px;
}

.List .ListBody tr:hover {
    background-color: #ddd;
}