aside.menu-area {
    background-color: var(--cor-primaria);
    box-shadow: 
        2px 0 10px 0 rgba(0, 0, 0, 0.12),
        2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background-color: var(--cor-auxiliar-1);
}

@media(max-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-around;
        
        align-items: center;

        height: 100%;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}

@media(max-width: 576px) {
    .menu {
        flex-direction: column;
    }

    .menu a {
        width: 100%;
        text-align: center;
    }

    .app {
        grid-template-rows: 
            var(--logo-height)
            1fr
            1fr
            var(--footer-height);
        grid-template-columns: 1fr;
        grid-template-areas: 
            "logo"
            "menu"
            "content"
            "footer";
    }
}